@use '/node_modules/bootstrap/scss/bootstrap.scss';
@use './partials/utilities.scss' as *;
@use './partials/variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900;1000&family=Encode+Sans:wght@600&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');


body {
  background-color: $el_bg_light;
}

#app_header {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  position: absolute;
  z-index: 100;
  width: 100%;
  padding: 1.5rem 0;

  .container_90 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav_logo {
      img {
        height: 1rem;
      }
    }

    .nav_menu {

      ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-bottom: 0;

        li {

          a {
            color: $el_text_dark;
            text-decoration: none;
            text-transform: uppercase;
            display: flex;
            align-items: center;

            &.active {
              color: $el_text_primary;

              &::before {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='height:50px;' fill='%23FF4612'%3E%3Cpath d='M4 15a1 1 0 001 1h19.586l-4.292 4.292a1 1 0 001.414 1.414l6-6a.99.99 0 00.292-.702V15c0-.13-.026-.26-.078-.382a.99.99 0 00-.216-.324l-6-6a1 1 0 00-1.414 1.414L24.586 14H5a1 1 0 00-1 1z'/%3E%3C/svg%3E");
                margin-right: .3rem;
                line-height: 0;
              }
            }
          }
        }

      }
    }
  }

}

#app_main {
  font-family: 'Libre Baskerville', serif;
  position: relative;

  #hero {

    .slider {
      height: 870px;
      position: relative;
      display: flex;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .container {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        .row {

          .hero_content {

            margin-top: 7rem;

            &>* {
              margin-bottom: 0;
            }

            p {
              padding: 1.5rem 0 4rem 0;
            }

            .links {
              a {
                text-transform: uppercase;
                background-color: $el_bg_white;
                color: $el_text_grey_dark;
                padding: 1rem;
                margin-right: 1rem;
                text-decoration: none;
                font-family: 'roboto', sans-serif;

                span.text {
                  padding: .5rem;
                  border-right: 1px solid $el_text_grey_dark;
                  transition: all 0.2s ease;
                }

                span.arrow {
                  font-size: 1.5rem;
                  margin-left: .25rem;
                }

                &:nth-child(2) {
                  background-color: $el_bg_primary;
                  color: $el_text_white;
                  transition: all 0.2s ease;

                  span.text {
                    border-right: 1px solid $el_text_white;
                  }

                  &:hover span {
                    border-color: $el_bg_primary;
                    transition: all 0.2s ease;
                  }

                }

                &:hover span {
                  border-color: $el_bg_white;
                  transition: all 0.2s ease;
                }
              }
            }
          }
        }
      }
    }






  }

  #specialties {
    text-align: center;

    .container_90 {

      margin-top: -4rem;
      padding: 6rem 0;
      background-color: $el_bg_white;
      position: relative;
      z-index: 10;

      .divider {
        margin: auto;
      }

      .row {
        padding-top: 5rem;

        .col-3 {

          .card {

            img {
              width: 50%;
              margin: auto;
            }

            h5 {
              font-weight: bold;
              margin-top: 1.5rem;
              text-transform: capitalize;
            }

            p {
              margin-top: .5rem;
              font-size: 15px;
              color: $el_text_grey_darker;
            }
          }
        }
      }


    }


  }

  #founder {
    background-image: url('../svg/svg-4.svg');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 100% 5%;
    padding: 6rem 0;

    .container {

      .row {
        align-items: center;

        .slider {
          width: 55%;
          position: relative;
          padding: 0;

          .commands {
            display: flex;
            justify-content: flex-start;
            align-items: end;
            margin: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 10;

            .prev,
            .next {
              background-color: $el_bg_primary;
              color: $el_bg_white;
              cursor: pointer;
              padding: 0 .5rem;

              svg {
                fill: $el_fill_white;
                margin-bottom: 1rem;
              }
            }

            .prev {

              svg {
                vertical-align: revert;
                transform: rotate(180deg);
                margin-bottom: 0;
              }
            }
          }
        }

        .founder_info {
          padding: 3.5rem 3rem;
          padding-right: 10rem;
          background-color: $el_bg_white;
          position: absolute;
          right: 10%;
          z-index: 10;
          width: 43%;

          .name,
          .role {
            text-transform: capitalize;
          }

          .name {
            font-weight: bold;
          }

          .role {
            font-size: 12px;
          }

          .social {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 1rem;
            padding-left: 0;

            a {
              display: flex;
              justify-content: center;
              align-items: center;
              color: $el_text_white;
              background-color: $el_bg_primary;
              width: 30px;
              aspect-ratio: 1/1;
              border-radius: 50%;

              &:hover {
                background-color: $el_text_black;
              }
            }
          }

          .signature {
            position: absolute;
            right: -10px;
            bottom: 15px;
            width: 70%;
            transform: rotate(-11deg);
          }
        }
      }
    }


  }

  #upcoming_events {
    background-image: url('../img/h1-img-09.jpg');
    padding: 6rem 0;

    .card {
      background-color: $el_bg_light;

      h3 {
        text-transform: capitalize;
        font-weight: bold;
        padding: 1rem 2rem;
        margin: 0;
      }

      .event {
        display: flex;
        align-items: center;
        border-top: 1px solid $el_border_grey;
        border-bottom: 1px solid $el_border_grey;
        padding: 1.5rem 2rem;
        box-shadow: inset $el_bg_grey 0px 0px 10px 3px;

        &:hover {
          background-color: $el_bg_white;
        }

        .event_name {
          text-transform: capitalize;
        }

        .date {
          text-align: center;
          background-color: $el_bg_primary;
          color: $el_text_white;
          padding: .5rem;
          margin-right: 1rem;

          .day {
            display: block;
            font-style: 1rem;
          }

          .rest_of_date {
            text-transform: capitalize;
            display: block;
            font-size: 10px;
          }
        }

        .event_info {
          margin-left: 1rem;

          h6 {
            font-weight: bold;
          }

          ul {
            list-style: none;
            margin-bottom: 0;
            padding: 0;

            li {
              color: $el_text_primary;
              padding-bottom: .25rem;

              span {
                color: $el_text_black;
                margin-left: 1rem;
                font-size: .75rem;
              }

            }
          }
        }
      }
    }
  }

  #creative_leader {
    padding: 6rem 0;
    background-image: url('../svg/svg-4.svg');
    background-repeat: no-repeat;
    background-position: 15% -407%;
    background-color: $el_bg_white;

    .col-6 {
      padding: 0 1rem;

      .card {
        h2 {
          text-transform: capitalize;
          font-weight: bold;
        }

        .divider {
          margin-top: 0;
        }

        .card {
          display: block;
        }

      }

      .graphic_item {
        margin-bottom: 1rem;

        .info {
          display: flex;
          justify-content: space-between;

          h6 {
            font-weight: bold;
            text-transform: capitalize;
          }
        }

        .level {
          position: relative;

          .total_bar {
            height: 4px;
            background-color: $el_bg_grey;
          }

          .partial_bar {
            position: absolute;
            left: 0;
            top: 0;
            height: 4px;
            background-color: $el_bg_primary;
          }

          .w78 {
            width: 78%;
          }

          .w95 {
            width: 95%;
          }

          .w65 {
            width: 65%;
          }

          .w83 {
            width: 83%;
          }
        }
      }
    }
  }

  #latest_news {
    background-image: url('../svg/svg-4.svg');
    background-repeat: no-repeat;
    background-position: 15% -19%;
    padding: 6rem 0;
    text-align: center;
    position: relative;

    .commands {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      top: 0;
      height: 100%;
      z-index: 10;

      .prev {
        svg {
          transform: rotate(180deg);
        }
      }

      .prev,
      .next {
        font-size: 2.5rem;
        cursor: pointer;

        svg {
          fill: $el_text_black;

          path {
            stroke-width: 100px;
          }
        }
      }
    }

    .container {
      z-index: 10;

      .divider {
        margin: auto;
      }

      .row {
        margin-top: 3rem;

        .card {
          text-align: left;

          .card-top {
            position: relative;

            .tag {
              position: absolute;
              bottom: -.75rem;
              right: 1rem;
              display: inline-block;
              background-color: $el_bg_primary;
              color: $el_text_white;
              padding: .5rem 1rem;
              font-size: 0.8rem;

              span {
                text-transform: capitalize;
                margin-left: .5rem;
              }
            }
          }

          h4 {
            text-transform: capitalize;
            font-weight: bold;
          }

          small {
            display: inline-block;
            color: $el_text_primary;
            margin: 2rem .5rem .5rem 0;

            span {
              color: $el_text_grey;
              margin-left: .25rem;
            }
          }

          p {
            color: $el_text_grey;
          }
        }
      }
    }
  }

  #testimonials {
    background-color: $el_bg_grey_darker;
    position: relative;
    display: flex;
    justify-content: center;

    h1 {
      color: $el_text_darker;
      width: 100%;
      text-align: center;
      text-transform: capitalize;
      font-size: 10rem;
      line-height: 100%;
      position: absolute;
    }

    .slider {
      padding: 7rem 0;
      color: $el_text_white;
      position: relative;

      .container {
        display: flex;
        justify-content: center;
        color: $el_text_white;
        position: relative;

        .card {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 50%;
          text-align: center;
          color: $el_text_grey_light;

          h5 {
            text-transform: capitalize;
            font-weight: bold;
            margin: 1rem 0;
          }

          .slider_menu {
            display: flex;
            align-items: center;

            &>div {
              margin: 0 .25rem;
            }

            .slider_bars {
              height: 3px;
              width: 100px;
              background-color: $el_bg_grey;
              position: relative;

              .bar {
                width: calc(100% / 3);
                height: 3px;
                background-color: $el_bg_white;
                position: absolute;
              }
            }
          }
        }
      }

      .commands {
        top: 0;
        width: 100%;

        svg {
          fill: $el_fill_white;
        }
      }
    }
  }

  #presentation {
    position: relative;
    cursor: pointer;

    .play {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;

      .fa-play {
        color: $el_fill_white;
      }
    }
  }

  #contact_us {
    padding-top: 6rem;
    padding-bottom: 1rem;

    .col-6:first-child {
      margin-top: 2rem;
      position: relative;

      .plus {
        position: absolute;
        cursor: pointer;
      }

      .info {
        display: inline-block;
        background-color: $el_bg_white;
        position: absolute;
        left: 23%;
        top: 47%;
        padding: 1.25rem 2rem;
        box-shadow: 3px 3px 5px gray;

        h6 {
          font-weight: bold;
          text-transform: capitalize;
          margin-bottom: 0;
          font-size: 1.25rem;
        }

        .more {
          font-size: .8rem;
          padding: 0;
        }

      }

      .plus_1 {
        left: 23%;
        top: 36%;
      }

      .plus_2 {
        left: 48%;
        top: 20%;
      }

      .plus_3 {
        right: 19%;
        bottom: 19%;
      }
    }

    form {

      input {
        margin-right: 1rem;

        &::placeholder {
          font-size: .6rem;
        }
      }

      textarea {
        &::placeholder {
          font-size: .6rem;
          padding-top: .4rem;
        }
      }

      input,
      textarea {
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid $el_border_grey;
        padding-left: .5rem;
        margin-bottom: 1rem;
        font-size: .8rem;
        outline: 0;
      }

      textarea {
        padding-bottom: 100px;
        width: 75%;
        word-wrap: break-word;
      }

      button {
        color: $el_text_white;
        text-transform: uppercase;
        background-color: $el_bg_primary;
        border: 0;
        display: flex;
        align-items: center;
        padding: .5rem 1rem;
        margin-top: 1rem;

        span:first-child {
          border-right: 1px solid $el_text_white;
          margin-right: .25rem;
          padding-right: .25rem;
        }
      }
    }
  }

  #brands {

    .row {
      padding: 6rem 0;

      .col {
        .card {
          text-align: center;

          & :first-child {
            display: inline-block;
          }

          & :last-child {
            display: none;
          }

          &:hover :first-child {
            display: none;
          }

          &:hover :last-child {
            display: inline-block;
          }
        }
      }
    }
  }

  .back_to {
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: $el_bg_white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 3px $el_text_grey_dark;
    margin: 0 0 1rem 1rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 2000;

    svg {

      transform: rotate(-90deg);
      height: 28px;
      fill: $el_text_primary;
    }
  }
}

#app_footer {

  #footer_top {
    background-color: $el_bg_darker;

    .row {
      padding: 4rem 0;

      .col-3 {

        .card {
          padding: 0 1rem;
          color: $el_text_grey_light;

          h4.title {
            margin-bottom: 0;
            text-transform: capitalize;
            color: $el_text_white;

          }

          .bar {
            margin: 1rem 0;
            border-top: 2px solid $el_border_primary;
            width: 12%;
          }

          .info {
            margin-bottom: 1rem;

            ul {
              padding-left: 0;
            }

            .twitter_info {
              list-style: url('../svg/twitter-icon.svg');
              padding-left: 1.5rem;

              li {
                margin-bottom: .5rem;
                padding-left: 1rem;

                a {
                  color: $el_text_grey_light;
                }
              }
            }

            .useful_links {
              list-style: none;

              li {
                text-transform: capitalize;
                margin-bottom: .25rem;

                a {
                  text-decoration: none;
                  color: $el_text_grey_light;

                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
          }

          .social {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 1rem;
            padding-left: 0;

            a {
              display: flex;
              justify-content: center;
              align-items: center;
              color: $el_text_darker;
              background-color: $el_bg_white;
              width: 30px;
              aspect-ratio: 1/1;
              border-radius: 50%;
            }
          }

          .contacts {
            list-style: none;

            li {
              color: $el_text_primary;
              margin-bottom: .25rem;

              span {
                margin-left: .5rem;
                color: $el_text_grey_light;
              }
            }

            form {
              display: flex;
              justify-content: space-between;
              border-bottom: 2px solid $el_text_white;
              margin-top: 2rem;

              input {
                background-color: transparent;
                border: 0;
                padding-left: .4rem;
                color: $el_text_white;
              }

              button {
                background-color: transparent;
                color: $el_text_white;
                text-transform: uppercase;
                border-color: transparent;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }

  #footer_bottom {
    text-align: center;
    background-color: $el_bg_primary;
    color: $el_text_white;

    p {
      padding: .3rem 0;
      margin-bottom: 0;
    }
  }
}