@use '/node_modules/bootstrap/scss/bootstrap.scss';
@use './partials/utilities.scss' as *;
@use './partials/variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900;1000&family=Encode+Sans:wght@600&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');


body {
  background-color: $el_bg_light;
}

#app_header {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  position: absolute;
  z-index: 100;
  width: 100%;
  padding: 1.5rem 0;

  .container_90 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav_logo {
      img {
        height: 1rem;
      }
    }

    .nav_menu {

      ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-bottom: 0;

        li {

          a {
            color: $el_text_dark;
            text-decoration: none;
            text-transform: uppercase;

            &.active {
              color: $el_text_primary;

              &::before {
                content: '\2192';
                font-size: 1.5rem;
                margin-right: .4rem;
                line-height: 0;
              }
            }
          }
        }

      }
    }
  }

}

#app_main {
  font-family: 'Libre Baskerville', serif;

  #hero {

    .slider {
      height: 870px;
      position: relative;
      display: flex;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }


    .container {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      .row {

        .hero_content {

          margin-top: 7rem;

          &>* {
            margin-bottom: 0;
          }

          h1 {
            font-size: 4.5rem;
            font-weight: bold;

            &::after {
              content: '.';
              color: $el_text_primary;
            }
          }

          p {
            padding: 1.5rem 0 4rem 0;
          }

          .links {
            a {
              text-transform: uppercase;
              background-color: $el_bg_white;
              color: $el_text_grey_dark;
              padding: 1rem;
              margin-right: 1rem;
              text-decoration: none;
              font-family: 'roboto';

              span.text {
                padding: .5rem;
                border-right: 1px solid $el_text_grey_dark;
                transition: all 0.2s ease;
              }

              span.arrow {
                font-size: 1.5rem;
                margin-left: .25rem;
              }

              &:nth-child(2) {
                background-color: $el_bg_primary;
                color: $el_text_white;
                transition: all 0.2s ease;

                span.text {
                  border-right: 1px solid $el_text_white;
                }

                &:hover span {
                  border-color: $el_bg_primary;
                  transition: all 0.2s ease;
                }

              }

              &:hover span {
                border-color: $el_bg_white;
                transition: all 0.2s ease;
              }
            }
          }
        }
      }
    }


    .commands {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      height: 100%;

      .prev,
      .next {
        font-size: 2.5rem;
        cursor: pointer;
      }
    }
  }

  #specialties {
    text-align: center;

    .container_90 {

      margin-top: -4rem;
      padding: 6rem 0;
      background-color: $el_bg_white;
      position: relative;
      z-index: 10;

      h1 {
        font-weight: bold;

        &::after {
          content: '.';
          color: $el_text_primary;
        }
      }

      .divider {
        margin: auto;
      }

      .row {
        padding-top: 5rem;

        .col-3 {

          .card {

            img {
              width: 50%;
              margin: auto;
            }

            h6 {
              font-weight: bold;
              margin-top: 1.5rem;
              text-transform: capitalize;
            }

            p {
              margin-top: .5rem;
              font-size: 15px;
              color: $el_text_grey_darker;
            }
          }
        }
      }


    }


  }

  #founder {
    background-image: url('../svg/svg-4.svg');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 100% 5%;
    padding: 6rem 0;

    .container {

      .row {
        align-items: center;

        img {
          width: 55%;
        }

        .founder_info {
          padding: 3.5rem 3rem;
          background-color: $el_bg_white;
          position: absolute;
          right: 10%;
          z-index: 10;
          width: 43%;

          .name,
          .role {
            text-transform: capitalize;
          }

          .name {
            font-weight: bold;
          }

          .role {
            font-size: 12px;
          }

          .social {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 1rem;
            padding-left: 0;

            a {
              display: flex;
              justify-content: center;
              align-items: center;
              color: $el_text_white;
              background-color: $el_bg_primary;
              width: 30px;
              aspect-ratio: 1/1;
              border-radius: 50%;
            }
          }
        }
      }
    }


  }
}

#app_footer {

  #footer_top {
    background-color: $el_bg_darker;

    .row {
      padding: 4rem 0;

      .col-3 {

        .card {
          padding: 0 1rem;
          color: $el_text_grey_light;

          h4.title {
            margin-bottom: 0;
            text-transform: capitalize;
            color: $el_text_white;

          }

          .bar {
            margin: 1rem 0;
            border-top: 2px solid $el_border_primary;
            width: 12%;
          }

          .info {
            margin-bottom: 1rem;

            ul {
              padding-left: 0;
            }

            .twitter_info {
              list-style: url('../svg/twitter-icon.svg');
              padding-left: 1.5rem;

              li {
                margin-bottom: .5rem;
                padding-left: 1rem;

                a {
                  color: $el_text_grey_light;
                }
              }
            }

            .useful_links {
              list-style: none;

              li {
                text-transform: capitalize;
                margin-bottom: .25rem;

                a {
                  text-decoration: none;
                  color: $el_text_grey_light;

                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
          }

          .social {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 1rem;
            padding-left: 0;

            a {
              display: flex;
              justify-content: center;
              align-items: center;
              color: $el_text_darker;
              background-color: $el_bg_white;
              width: 30px;
              aspect-ratio: 1/1;
              border-radius: 50%;
            }
          }

          .contacts {
            list-style: none;

            li {
              color: $el_text_primary;
              margin-bottom: .25rem;

              span {
                margin-left: .5rem;
                color: $el_text_grey_light;
              }
            }

            form {
              display: flex;
              justify-content: space-between;
              border-bottom: 2px solid $el_text_white;
              margin-top: 2rem;

              input {
                background-color: transparent;
                border: 0;
                padding-left: .4rem;
                color: $el_text_white;
              }

              button {
                background-color: transparent;
                color: $el_text_white;
                text-transform: uppercase;
                border-color: transparent;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }

  #footer_bottom {
    text-align: center;
    background-color: $el_bg_primary;
    color: $el_text_white;

    p {
      padding: .3rem 0;
      margin-bottom: 0;
    }
  }
}