@use './variables.scss' as *;

.container_70 {
    margin: 0 auto;
    width: 70%;
}

.container_90 {
    margin: 0 auto;
    width: 90%;
}

.card {
    background-color: transparent;
    border: none;
    border-radius: 0;
    display: block;
}

.divider {
    border-bottom: 2px solid $el_text_primary;
    width: 50px;
    margin: 1rem 0;
}

.more {
    color: black;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem;
    display: inline-block;

    &:hover {
        cursor: pointer;
        background-color: $el_bg_white;
        transition: all .5s ease;
    }

    &:hover::after {
        content: '\2192';
        color: $el_text_black;
        padding-left: .5rem;
    }
}

.commands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 100%;

    .prev {
        svg {
            transform: rotate(180deg);
        }
    }

    .prev,
    .next {
        font-size: 2.5rem;
        cursor: pointer;

        svg {
            fill: $el_text_black;

            path {
                stroke-width: 100px;
            }
        }
    }
}