/* Bg Color Variables */
$el_bg_white: #FFFFFF;
$el_bg_white_trasparent: #FFFFFF33;
$el_bg_white_more_trasparent: #FFFFFF26;
$el_bg_light: #FAFAFA;
$el_bg_grey_lighter: #FBF9F9;
$el_bg_grey_light: #F9F9F9;
$el_bg_grey: #E1E1E1;
$el_bg_grey_dark: #1E1E1E;
$el_bg_grey_darker: #1E1C1C;
$el_bg_grey_dark_trasparent: #1E1E1E4D;
$el_bg_dark: #191516;
$el_bg_darker: #181515;
$el_bg_black_trasparent: #00000026;
$el_bg_primary: #FF4612;
$el_bg_pink: #EF2853;
$el_bg_pink_soft: #EE2853;


/* Text Color Variables */
$el_text_white: #FFFFFF;
$el_text_light: #FAFAFA;
$el_text_light_soft: #D2D2D2;
$el_text_grey_lighter: #CCCCCC;
$el_text_grey_light: #C0C0C0;
$el_text_grey_soft: #BDBDBD;
$el_text_grey: #A6A6A6;
$el_text_grey_dark: #6A6A6A;
$el_text_grey_darker_soft: #606060;
$el_text_grey_darker: #555555;
$el_text_dark: #1E1E1E;
$el_text_darker: #181515;
$el_text_black: #000000;
$el_text_primary: #FF4612;


/* Fill Color Variables */
$el_fill_white: #FFFFFF;
$el_fill_grey: #D8D8D8;
$el_fill_pink: #EE2852;
$el_fill_black: #000000;


/* Border Color Variables */
$el_border_white: #FFFFFF;
$el_border_light: #ECECEC;
$el_border_light_soft: #EBEBEB;
$el_border_grey: #CCCCCC;
$el_border_primary: #FF4612;
$el_border_dark: #1E1E1E;